<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <p id="notice">
      <%= flash[:notice] %>
    </p>
    <%= yield %>
     <!--jQueryの読み込み -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <!--BootStrapのJSの読み込み -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
